# Example dotenv file
# Modify and rename to .env before launching server.

# This key is for the Alpha Vantage Financial API. Obtain key at: https://www.alphavantage.co/support/#api-key
ALPHA_VANTAGE_KEY=API-KEY

# This is the key for your telegram bot. Obtain from @botfather within the telegram app.
TELEGRAM_BOT_TOKEN=TOKEN